

#home-page__header{
  --logo-size:28px;

  width: 100%;
  height: auto;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  z-index: 10000000;
  background: white;
  p{
    margin: 0;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s;
  }
  #logo{
    margin: 0;
    font-size: var(--logo-size);
    font-weight: 700;
    letter-spacing: 4px;
    border-top: 5px solid;
    border-bottom: 5px solid;
  }
  a{
    border-radius: 15px;
    padding: 10px;
    transition: 0.4s;
  }
  a:hover{
    transform: scale(1.2);
  }

  @import "home-page__navigation";

  @media (max-width: 920px){
    flex-direction: column;
  }
  @media (max-width: 750px){
    flex-direction: row;
  }
}