#home-page__news{
  padding: 10vh 100px 10px 100px;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:  70vh;
  }
  .section-title{
    justify-content: center;
  }
  iframe{
    width: 48%;
    height: 70%;
  }

  @media (max-width: 1000px) {
    padding: 150px 30px 0 30px;
    &__container{
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      margin-top: 50px;
    }
    iframe{
      width: 100%;
    }
  }
  @media (max-width: 750px){
    padding: 100px 30px 0 30px;
    &__container{
      margin-top: 50px;
      gap: 50px;
     height: 70vh;
    overflow: hidden;
    }
    .section-title{
      justify-content: left;
    }
    iframe{
     transform: scale(1);
    }
  }
}

